*.iml
*.ipr
*.iws
*.log
*.log.*
*.class
.gradle/
.idea/
.vscode/

node_modules/
web/WEB-INF/classes/
build/
out/
/*.properties
/src/*/resources/application-*.properties
/src/*/resources/application-*.yml
/src/*/resources/messages.properties
/src/*/resources/*_zh_CN.properties

